body{
font: 13px Arial, sans-serif;
}

small{
font: 11px Arial, sans-serif;
color:#5F5F5F;
}


 #header-container{
  background-color:#EAE9E9;
  height: relative;
  width: 100%;
  border-bottom: 0px solid #362E2C;
  margin-bottom:0px;
}

#title{
  font-size: 2.5em;
  float: left;
  color:#157096;
  padding-bottom:10px;
  padding-left:20px;
  font-family: 'Oleo Script', cursive;
  }

nav{
  float: right;
  margin-top:20px;
  padding-bottom:10px;
  padding-right:10px;
  padding-left: 5px;
  font-size: 16px;
}


h2 { 
   position: absolute; 
   top: 100px; 
   left: 20px; 
   width: 100%; 
 
}

h2 span { 
   color: white; 
   font: 50px; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h3{
  font-size:16px; 
   color:#0088BB;
}

h4 { 
  font-size:14px; 
   color:#0088BB;
   font-weight: bold;
}



 /* BODY */ 
 
 .wrapper{
  position:relative;
  margin: 0px;
  width:100%;
  border-top:1px solid #494949;
  border-bottom:0px solid #494949;
  margin-bottom:0px;
}


.inner-wrapper,
.center.pane .inner {
    display: table;
    width: 100%;
    height: 75%;
    margin-right: 10px;
    border-bottom:1px solid #494949;
    border-top:0px;
}
.pane {
    display: table-cell;
}

.rightpane {
  width: 30%;
  padding-left: 5px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: #B3D1FF;
}

.center.pane {
    width: 70%;
    padding: 0px;
    background-color: #1C2D61;
}


#map {
      height: 50%;
      weight: 100%;
}

#threatfrm {
  padding-left: 15px;
  padding-right: 5px;
}

#actionfrm {
 padding-left: 15px;
  padding-right: 5px;
}

#addthreat {
  width: 100%;
  padding-left: 5px
  margin: 5px
  background-color: #FF00FF;
}

textarea{
  width: 100%;
  height: 15%;
  margin: 0px;
  border: 1x solid #cccccc;
  padding: 2px;
  font-size: 12px;
}



*/






/* CHECKBOX STYLES */ 

ul.view-checkbox  { 
  margin: 0px; 
  padding: 0px; 
  list-style: none; 
  font-size: 2px;
} 

ul.view-checkbox li input { 
  padding: 5px; 
  margin-right: 5px;
  float: left;
} 

ul.view-checkbox li { 
  border: 1px transparent solid; 
  display: block;
  font-size: 14px;
  font-family: "Arial";
} 

ul.view-checkbox li label { 
  margin-left: ; 
  color: #494949;
  display: block;
  font-weight:normal !important;
} 

label {
  font-weight:normal !important;  
  color: #494949;
  display: block;
  overflow: auto;
}

.vrthreat-panel1
{
    width:100%;
    height:50%;
  font-size: 10px;
}

.vrthreat-panel2
{
    width:100%;
    height:50%;

  font-size: 10px;
}

.threat-panel1
{
    background-color:#FFFFFF;
    width:50%;
    height:60%;
    float:left; 
}

.threat-panel2
{
    background-color:#fff;
    width:50%;
    height:60%;
    float:right; 
}


/* FOOTER */

#footer-container-1 {
  background-color: #EAE9E9;
  height: relative;
  border-top: 0px solid #494949;
  margin-top: 0px;
  padding-top: 5px;
  text-align: left;
}

#footer-container-2 {
  background-color: #FFFFFF;
  height: relative;
  border-top: 0px solid #494949;
  margin-top: 0px;
  padding-top: 5px;
  text-align: left;
  color: #494949;
}

#footer-container-3 {
  background-color: #494949;
  height: relative;
  border-top: 5px solid #494949;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
  color: #FFFFFF;
}


#footer-container-4 {
  background-color: #FFFFFF;
  height: relative;
  border-top: 5px solid #494949;
  margin-top: 0px;
  padding-top: 5px;
  text-align: left;
  color: #494949;
}


#footer-container footer {
  color: 494949;
}

/* FOOTER SOCIAL MEDIA ICONS */

@font-face {
    font-family: 'si';
    src: url('../assets/socicon.eot');
    src: url('../assets/socicon.eot?#iefix') format('embedded-opentype'),
         url('../assets/socicon.woff') format('woff'),
         url('../assets/socicon.ttf') format('truetype'),
         url('../assets/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin-left: 30px
    margin-top: 20px
    padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'r';
}
.soc-instagram {
    background-color: #9c7c6e;
}
.soc-instagram:before {
    content:'x';
}

.soc-twitter:hover {
    background-color: #3993ca;
}
.soc-facebook:hover {
    background-color: #2a4784;
}
.soc-google:hover {
    background-color: #c52a19;
}
.soc-youtube:hover {
    background-color: #cc160c;
}
.soc-instagram:hover {
    background-color: #88685a;
}


/* Overlay */

#overlay {
    position: fixed;
    top: 20%;
    left: 40%;
    width: 40%;
    height: 60%;
    padding: 15px;
    background-color: #FFFFFF;
    z-index: 10000;
  
}

a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url(http://tympanus.net/Tutorials/CSSOverlay/images/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}


/* Accordion*/

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .2em .2em .2em .2em;
  min-height: 0; /* support: IE7 */
  font-size: 16px;
  font-family: "Arial";
  color:#0088BB;
  
}
.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
 font-size: 10px;
 
}
.ui-accordion .ui-accordion-content {
  width: auto;
  padding: 1em 0.1em;
  border-top: 0;
  overflow: auto;
}f



.selectorclass
{
    width:30%;
}

.imgTest
{
  padding: .2em;
}

/*test overlay*/

.InfoPopup
{
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  position: relative;
  width: 100%;
  z-index: 1999;
  height: 100%;
  top: 0px;
  display: block;
} 


.overlap{
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlap:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 5x;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


.searchbox {
       margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

#pac-input1 {
        margin-left: 12px;
        margin-right:12px;
        margin-top:10px;
        padding: 5px 11px 5px 13px;
        width: 80px;
      }


.popup .close:hover {
  color: orange;
}
.popup .content {
  height:60%;
  padding-right: 15px;
  overflow: auto;
}

.linkstyle {
  font-family: arial;
}

.overlay-ul {
}

.overlay-li {
  font-family: Arial;
  font-size: 12px;
  width:95%;
  padding-right: 15px;
}



/**********
** Profile
**********/
.profile{
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: top left;
  background-image: url(../images/profile-bck.jpg);
  position: relative;
}

.profile:after{
  content: '';
  width:100%;
  height: 100%;
  background-image: url(../images/profile-gradient.png);
  position: absolute;
  bottom: 0;
  background-position: bottom left;
  background-repeat: repeat-x;
}
.profile-content{
  width: 1875px;
    position: absolute;
    margin-left: 45px;
    bottom: 0;
    height: 50%;
    z-index: 20;
    -webkit-transition:1s; /* For Safari 3.1 to 6.0 */
    transition:1s;
    transition-timing-function: ease-in-out;
}
.profile-content.left{
  left:0;
}
.profile-content.right{
  left: -930px;
}
.prof-cont-box{
  width: 275px;
    float: left;
    margin-right: 30px;
}
.profile-content .prof-cont-box:nth-child(4){
  margin-left: 15px;
}
.prof-cont-box h2{
  color: #FFF;
  margin-top: 7px;
  margin-bottom: 20px;
}
.prof-cont-box p{
  color: #FFF;
  font-size: 14px;
}
.prof-cont-box a{
  color:#33a0d3;
  font-size: 14px;
}
.arrow{
  position: absolute;
    top: 60%;
    width: 30px;
    height: 34px;
    z-index: 50;
    cursor: pointer;
    -moz-background-size: 30px 30px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.arrow.off{
  cursor: not-allowed;
  opacity: 0.4;
}
.profile-prev-arrow{
  background-image: url(../images/prev-arrow.png);
}
.profile-next-arrow{
  background-image: url(../images/next-arrow.png);
  right:0px;
}
.profile-content-wrapper{
  width: 100%;
  position: relative;
  bottom: 0;
    height: 550px;
    overflow: hidden;
}

.col-sm-1
{
  font-family: "Times";
  font-size: 12px;
}

.btn-success
{
  margin-left:10px;
 margin-bottom:50px;

}


/* Image resizing */
.container-img 
{
  width: 150px;
  margin: 0 auto;
}

.img-frame {
  background: #FFFFFF;
  margin: 10px auto;
}

/* This is for responsive container with specified aspect ratio */
.aspect-ratio {
  position: relative;
  height: 150px;
}
.aspect-ratio-1-1 {
  padding-bottom: 50%;
}

/* This is the key part - position and fit the image to the container */
.fit-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 80%;
  max-height: 90%
}
.fit-img-bottom {
  top: auto;
}
.fit-img-tight {
  max-width: 100%;
  max-height: 100%
}